before_install:
  - sudo apt-get update
  - sudo apt-get install -y libssl-dev cmake build-essential meson xz-utils
install:
  - ./install_fuse.sh
  - mkdir build
language: c
compiler: clang
script:
  - cd build
  - cmake -DCMAKE_GENERATOR=Ninja ..
  - ninja
branches:
  only:
    - /.*/