sudo: required

services:
  - docker

compiler: clang

env:
 - BRANCH:

before_install:
  - export GIT_BRANCH=$(git branch | grep \* | cut -d ' ' -f2)
  - docker pull ubuntu:bionic
  - docker build -t bsfs .
script:
  - docker run -e BRANCH=$GIT_BRANCH bsfs /bin/bash -c "cd /root/BSFS/ && git checkout $BRANCH && mkdir build && cd build && cmake -DCMAKE_GENERATOR=Ninja .. && ninja && ctest -V -j6"
branches:
  only:
    - /.*/